<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <div class="jumbotron">
      <button id="new rant" type="submit" class="btn btn-default btn-lg" role="button"><%= link_to 'New Rant', new_rant_path%></button><br>
      <button id="Search" type="submit" class="btn btn-default btn-lg" role="button">Search</button><br>
      <button id="Blacklist" type="submit" class="btn btn-default btn-lg" role="button"><%= link_to 'Blacklist' , blacklists_path %></button><br>
      <button id="Dumpster" type="submit" class="btn btn-default btn-lg" role="button"><%= link_to 'Dumpster' , dumpsters_path %></button><br>
      <button id="geofences" type="submit" class="btn btn-default btn-lg" role="button"></button><br>
      <button id="" type="submit" class="btn btn-default btn-lg" role="button"></button><br>
    </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="jumbotron">
      
    </div>
    <div class="jumbotron">
      <div class="panel-body">
              <h5>Your daily Rants from the Filchers:</h5>
            <div class="table-responsive">
              acscasscsa cambiar
            </div>
        </div>
    </div>
  </div>
</div>
